.metadata {
    padding-bottom: 40px;
    margin: 40px;
}

strong {
    font-weight: bold ;
}

u {
    text-decoration: underline;
}


h5, h1 {
    font-family: 'Zilla Slab', serif;
}

h1 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

h2 {
    font-family: 'Zilla Slab';
    font-size: 20px;
    line-height: 33px;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Zilla Slab';
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 600;
    padding-top: 20px;
}

p {
    font-family: 'Open Sans', sans-serif ;
    color: black;
    font-size: 18px;
    line-height: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section1 {
    font-family: 'Open Sans', sans-serif ;
    color: black;
    font-size: 18px;
    line-height: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.normalcallout {
    font-family: 'Zilla Slab';
    font-size: 30px;
    line-height: 40px;
    color: #0500FF;
    font-weight: 600;
}

.navigation {
    background-color: #c4fd26;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 20px;
}

.navtitle {
    font-family: 'Zilla Slab', serif;
    font-size: 46px;
    line-height: 85px;
}

.list1 {
    font-family: 'Zilla Slab', serif;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
}

.list2 {
    font-family: 'Zilla Slab', serif;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
}


.section3 {
    background-color: #2d2d2d;
    margin-top: 20px;
    padding: 40px;
}

.section3-title {
    font-family: 'Zilla Slab', serif ;
    font-weight: bold;
    font-size: 42px;
    color: white;
    margin-bottom: 30px;
    padding-top: 30px;
}

.section3-body {
    font-family: 'Open Sans', sans-serif ;
    color: white;
    font-size: 23px;
    line-height: 34px;

}

.dark {
    font-family: 'Zilla Slab';
    margin-top: 50px;
    font-size: 45px;
    line-height: 52px;
    color: #c4fd26;
    font-weight: 500;
}

.lowcontrast-section {
    background-color: #9E4949;
    padding: 40px;
}

.lowcontrast-header {
    font-family: 'Playfair Display';
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #7086EF;
    text-align: center;
}

.lowcontrast-text {
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    margin-bottom: 20px;
    color: #7086EF;
    text-align: center;
}

.bluestate {
    padding: 40px;
    background-color: #0500FF;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 31px;
}

mark {
    background-color: #c4fd26;
    color: #2d2d2d;
}

::selection {
    color: #2d2d2d;
    background: #c4fd26;
  }

.invisible-container {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 31px;
}

.invisible {
    color: white;
    display: inline-block;
}

.normalcallout2 {
    font-family: 'Zilla Slab';
    font-size: 30px;
    line-height: 40px;
    color: #0500FF;
    font-weight: 600;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.section4 {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 31px;
}

em {
    font-style: italic ;
}




@media (min-width: 376px) {
    h1 {
        font-size: 74px;
    }

    body {
        padding-bottom: 40px;
    }

    .metadata {
        padding-left: 21%;
        padding-right: 21%;
    }

    h2 {
        font-size: 30px;
        font-weight: 100px;
        line-height: 40px;
    }

    h5 {
        font-size: 20px;
        line-height: 30px;

    }

    .navigation {
        margin-bottom: 20px;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .navtitle {
        padding-left: 21%;
        padding-right: 21%;
        margin-bottom: 1%;
        font-family: 'Zilla Slab', serif;
        font-size: 50px;
        display: flex;
    }

    .contents {
        display: flex;
        padding-left: 21%;
        padding-right: 21%;
        gap: 10%;
    }

    .list1 {
        font-family: 'Zilla Slab', serif;
        font-size: 22px;
        line-height: 27px;
        text-transform: uppercase;
        width: 50%;

    }

    .list2 {
        font-family: 'Zilla Slab', serif;
        font-size: 22px;
        line-height: 27px;
        text-transform: uppercase;
        width: 50%;
    }

    .section1 {
        font-family: 'Open Sans', sans-serif ;
        color: black;
        font-size: 20px;
        line-height: 32px;
        padding-left: 23%;
        padding-right: 23%;
        margin-top: 3%;
    }
    
    .normalcallout {
        font-family: 'Zilla Slab';
        font-size: 35px;
        line-height: 43px;
        color: #0500FF;
        font-weight: 600;
    }

    .section3 {
        margin-top: 20px;
        padding-left: 23%;
        padding-right: 23%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .section3-title {
        font-family: 'Zilla Slab', serif ;
        font-weight: bold;
        font-size: 56px;
        line-height: 76px;
        color: white;
    }

    .section3-body {
        font-family: 'Open Sans', sans-serif ;
        color: white;
        font-size: 30px;
        line-height: 51px;
    }

    .callout {
        display: flex;
        margin-top: 50px;
        gap: 50px;
    }

    .stem {
        height: 200fr;
        width: 30px;
        background-color: #c4fd26;
    }

    .dark {
        font-family: 'Zilla Slab';
        font-size: 90px;
        line-height: 100px;
        color: #c4fd26;
        font-weight: 500;
        align-items: center;
    }

    .lowcontrast-section {
        background-color: #9E4949;
        padding-left: 23%;
        padding-right: 23%;
    }
    
    .lowcontrast-header {
        font-family: 'Playfair Display';
        font-size: 26px;
        margin-bottom: 20px;
        font-weight: bold;
        color: #7086EF;
        text-align: center;
    }
    
    .lowcontrast-text {
        font-family: 'Playfair Display', serif;
        font-size: 15px;
        margin-bottom: 20px;
        color: #7086EF;
        text-align: center;
    }

    .bluestate {
        padding-left: 23%;
        padding-right: 23%;
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: #0500FF;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        line-height: 32px;
    }
    
    mark {
        background-color: #c4fd26;
        color: #2d2d2d;
    }

    .invisible-container {
        padding-left: 23%;
        padding-right: 23%;
        padding-top: 60px;
        padding-bottom: 20px;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        line-height: 32px;
    }
    
    .invisible {
        color: white;
        display: inline-block;
    }


    .normalcallout2 {
        font-family: 'Zilla Slab';
        font-size: 50px;
        line-height: 65px;
        color: #0500FF;
        font-weight: 600;
        padding-left: 23%;
        padding-right: 23%;
    }
    
    .section4 {
        padding-left: 23%;
        padding-right: 23%;
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        line-height: 32px;
    }

    h3 {
        font-family: 'Zilla Slab';
        font-size: 36px;
        line-height: 43px;
        margin-top: 40px;
        margin-bottom: 20px;
        padding-left: 23%;
        padding-right: 23%;
        font-weight: 600;
    }
    
    p {
        font-family: 'Open Sans', sans-serif ;
        color: black;
        font-size: 18px;
        line-height: 30px;
        padding-left: 23%;
        padding-right: 23%;
        padding-bottom: 10px;
    }

}

@media print {

    .metadata {
        padding-left: 70px;
        padding-right: 70px;
        padding-top: 30px;
        padding-bottom: 30px;
        margin: 0px;
    }
    
    h1 {
        font-size: 24px;
        font-family: 'Zilla Slab', serif;
        line-height: 32px;
        margin: 0px;
        padding-bottom: 10px;
    }

    h2 {
        font-size: 14px;
        line-height: 18px;
        margin: 0px;
        padding-right: 60px;
    }

    h5 {
        font-size: 12px;
        margin: 0px;
        padding-bottom: 0px;
    }

    em {
        margin: 0px;
    }

    .navigation {
        padding-left: 70px;
        padding-right: 70px;
        background-color: white;
        border: solid black 0.5px;
        display: flex;
        margin: 0px;
    }

    .navtitle {
        font-size: 16px;
        margin: 0px;
        padding: 0px;
        margin-right: 50px;
    }

    .contents {
        font-size: 12px;
        line-height: 16px;
        padding: 0px;
    }

    .list1 {
        font-size: 12px;
        line-height: 16px;
    }

    .list2 {
        font-size: 12px;
        line-height: 16px;
    }


    .section1 {
    font-size: 12px;
    padding-left: 70px;
    padding-right: 70px;
    line-height: 20px;
    margin-top: 0px;
    padding-top: 30px;
    }

    .normalcallout {
    font-size: 16px;
    color: black;
    line-height: 22px;
    padding-right: 120px ;
    border-left: solid 2px black ;
    padding-left: 14px;
    }

    u {
    text-decoration: none;
    }

    .section3 {
        background-color: white;
        padding-left: 70px;
        padding-right: 70px;
        margin: 0px;
    }

    .section3-title {
        color: black;
        font-size: 37px;
        line-height: 48px;
        padding: 0px;
        margin: 0px;
        padding-bottom: 15px;
    }

    .section3-body {
        color: black;
        font-size: 19px;
        line-height: 32px;
        padding: 0px;
        margin: 0px;
    }

    .dark {
        font-size: 28px;
        line-height: 34px;
        color: black;
        border-left: solid 3px black ;
        padding-left: 14px;
        margin: 0px;
        padding-right: 50px;
    }

    .stem {
        display: none;
    }

    .lowcontrast-section {
        background-color: #CACACA;
        padding-left: 70px;
        padding-right: 70px;
        padding-top: 30px ;
        padding-bottom: 30px ;
    }



    .lowcontrast-header {
    color: #B0B0B0;
    font-size: 24px;

    }

    .lowcontrast-text {
    font-size: 12px;
    color: #B0B0B0;
    line-height: 16px;
    }

    .bluestate {
    background-color: white;
    color: black;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px ;
    padding-bottom: 30px;
    font-size: 12px;
    line-height: 20px;
    }

    mark {
    background-color: white;
    text-decoration: underline;
    }

    .invisible-container {
        padding-top: 0px ;
        padding-bottom: 30px ;
        padding-left: 70px ;
        padding-right: 70px ;
        font-size: 12px;
        line-height: 20px;
    }

    .invisible {
        color: #CACACA;
    }

    .normalcallout2 {
        padding-top: 0px ;
        padding-bottom: 0px ;
        padding-right: 70px ;
        padding-left: 30px;
        font-size: 20px;
        color: black;
        line-height: 28px;
        margin-left: 70px ;
        padding-right: 120px ;
        border-left: solid 2px black ;
    }

    .section4 {
        padding-top: 30px ;
        padding-bottom: 30px ;
        padding-right: 70px ;
        padding-left: 70px;
        font-size: 12px;
        line-height: 20px;
    }

}